{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container text-center my-3">
		{% if messages and messageColor %}
			<div class="alert alert-{{ messageColor }}">
				{% for message in messages %}
					{{ message }}
					<br>
				{% endfor %}
			</div>
		{% endif %}

		{{ form_start(registrationForm) }}
		<h1 class="h3 mb-3 font-weight-normal">M'inscrire</h1>

		{{ form_widget(registrationForm._token) }}
		<div class="row my-3">
			<div class="col-6">
				<div class="form-floating">
					{{ form_widget(registrationForm.firstname) }}
					<label for="inputEmail">Prénom</label>
				</div>
			</div>
			<div class="col-6">
				<div class="form-floating">
					{{ form_widget(registrationForm.lastname) }}
					<label for="inputEmail">Nom</label>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-4">
				<div class="form-floating">
					{{ form_widget(registrationForm.username) }}
					<label for="inputEmail">Pseudo</label>
				</div>
			</div>
			<div class="col-8">
				<div class="form-floating">
					{{ form_widget(registrationForm.email) }}
					<label for="inputEmail">Email</label>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<h5 class="text-start">Date de naissance</h5>
			<div class="col-4">
				<div class="input-group">
					<span class="input-group-text">Jour</span>
					{{ form_widget(registrationForm.birth_day) }}
				</div>
			</div>
			<div class="col-4">
				<div class="input-group">
					<span class="input-group-text">Mois</span>
					{{ form_widget(registrationForm.birth_month) }}
				</div>
			</div>
			<div class="col-4">
				<div class="input-group">
					<span class="input-group-text">Année</span>
					{{ form_widget(registrationForm.birth_year) }}
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-6">
				<div class="form-floating">
					{{ form_widget(registrationForm.plainPassword) }}
					<label for="inputEmail">Mot de passe</label>
				</div>
			</div>
			<div class="col-6">
				<div class="form-floating">
					{{ form_widget(registrationForm.confirmPassword) }}
					<label for="inputEmail">Confirmez votre mot de passe</label>
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary mt-4">S'enrengistrer</button>

		<div class="my-2">
			<p>Déjà inscrit ?
				<a href="{{ path('app_login') }}">Se connecter</a>
			</p>
		</div>
	</div>
	{{ form_end(registrationForm) }}

{% endblock %}

{% block styleBrut %}
	<style>
		.container {
			padding: 1em 3em 2em;
			margin: 0 auto;
			background-color: #fff;
			border-radius: 4.2px;
			box-shadow: 0 3px 10px 4px rgb(255, 255, 255);
		}
		.my-2 > p:nth-child(1) > a:nth-child(1) {
			color: #f1c40f;
		}
	</style>
{% endblock %}
