{% extends 'base.html.twig' %}

{% block title %}Edit Meeting
{% endblock %}

{% block body %}
	<div class="container text-center my-3" id="ranking-container" data-post-url="{{ path('meeting_update_ranking') }}" data-meeting-id="{{ meeting.id }}">
		{{ form_start(form) }}
		<h1 class="h3 mb-3 font-weight-normal text-white">Modifier
			{{ meeting.name }}
			de
			{{ tournament.name }}
			<a class="btn btn-outline-secondary btn-sm float-end" href="{{ path('app_meeting_index') }}">Revenir</a>
		</h1>


		<div class="row my-3">
			<div class="col-8">
				<div class="form-floating">
					{{ form_widget(form.name) }}
					<label for="inputEmail">Nom</label>
				</div>
			</div>
			<div class="col-4">
				<div class="form-floating">
					{{ form_widget(form.win_condition) }}
					<label for="inputEmail">Condition de victoire</label>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-6">
				<div class="form-floating">
					{{ form_widget(form.start_time) }}
					<label for="inputEmail">Date de début</label>
				</div>
			</div>
			<div class="col-6">
				<div class="form-floating">
					{{ form_widget(form.end_time) }}
					<label for="inputEmail">Date de fin</label>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-6 text-center">
				<div class="form-floating">
					{{ form_widget(form.score) }}
					<label for="inputEmail">Score</label>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<table class="table text-start">
				<thead>
					<tr>
						<th scope="col-10">Nom de l'équipe</th>
						<th scope="col-2">Classement</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for team in teams %}
						<tr>
							<td>{{ team.name }}</td>
							<td>
								{% for rank in range(1, teams|length) %}
									<button class="btn btn-warning btn-ranking" type="button" data-team-id="{{ team.id }}" data-rank="{{ rank }}">
										{{ rank }}
									</button>
								{% endfor %}
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>

		<button class="btn btn-primary mb-5">{{ button_label|default('Sauvegarder') }}</button>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block styleBrut %}
	<style>
		.selected-ranking {
			background-color: white;
		}
	</style>
{% endblock %}

{% block javascriptsBrut %}
	<script src="{{ asset('js/edit_meeting.js') }}"></script>
{% endblock %}
